<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.heytz.ESPWrapper" version="0.3.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>ESPWrapper</name>
    <js-module name="ESPWrapper" src="www/ESPWrapper.js">
        <clobbers target="cordova.plugins.ESPWrapper"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ESPWrapper">
                <param name="ios-package" value="ESPWrapper"/>
            </feature>
        </config-file>
        <framework src="SystemConfiguration.framework"/>
        <framework src="CFNetwork.framework"/>

        <source-file src="src/ios/HiJoine.h"/>
        <source-file src="src/ios/ESPWrapper.m"/>
        <source-file framework="true" src="libHIQJOine.a"/>
        <framework src="libHIQJOine.a"/>

    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ESPWrapper">
                <param name="android-package" value="com.heytz.ESPWrapper.ESPWrapper"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/ESPWrapper.java" target-dir="src/com/heytz/ESPWrapper"/>
        <source-file src="libs/dd-plist.jar" target-dir="libs"/>
        <source-file src="libs/lsd-easy-joine.jar" target-dir="libs"/>
        <source-file src="libs/jetty-8.1.15.jar" target-dir="libs"/>
        <source-file src="libs/httpclient-4.5.1.jar" target-dir="libs"/>
    </platform>
</plugin>